.contactsDiv {
  background: white;
  border-radius: 5px;
  height: auto;
  margin: .5rem .5rem .5rem 0;
  padding: 1.3rem;
  z-index: 1;
}
.contactsHeader {
  text-align: center;
}
.contactsDivItems {
  margin-bottom: .5rem;
  text-align: center;
}
.contactsDivItems Input {
  margin-bottom: .5rem;
  text-align: center;
}
.contactsDivButton{
  margin: 0 .5rem .5rem 0;
  text-align: center;
}
.contactsButton{
  margin: 0 .5rem 0 0;
  text-align: center;
}
.contactItemsDivider {
  border-top: solid 1px #e8e8e8;
  margin-bottom: .5rem;
}
.contactItemDelete {
  color: red;
}
