.currentWorkListCard {
  border-radius: 5px;
  margin: .5rem .5rem 0 0;
  cursor: default;
  width: auto;
  word-wrap: break-word;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.currentWorkListDivWide {
  height: 100vh;
  margin-left: 5.5rem;
}
.currentWorkListSearchDiv {
  margin-left: 5.5rem;
  top: 0;
  z-index: 1;
}
.backgroundImageDiv {
  filter: brightness(.4);
  position: fixed;
  z-index: 0;
}
.backgroundImageDiv img {;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  z-index: 0;
}
.noWorkOrders {
  color: #555555;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  padding: 0 .5rem 0 .5rem;
  text-align: center;
  width: 100%;
  z-index: 100;
}
