.workOrderDiv {
  background: white;
  border-radius: 5px;
  height: auto;
  margin: .5rem .5rem .5rem 0;
  padding: 1.3rem;
  z-index: 1;
}
.workOrderHeader {
  text-align: center;
}
.workOrderHeader label {
  font-weight: 600;
}
.workOrderHeader Input,TextArea {
  margin-bottom: .5rem;
}
.workOrderHeader Select {
  margin-bottom: .5rem;
  width: 10rem;
}
.workOrderHeader a {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: .5em;
  text-align: center;
}
.workOrderHeader h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.workOrderHeader h3 {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}
.workOrderHeaderClock {
  text-align: center;
}
.workOrderHeaderClock Button {
  margin: 0 .5rem .5rem 0;
}
.workOrderHeaderButtons {
  text-align: center;
}
.workOrderHeaderButtons Button {
  margin: 0 .5rem .5rem 0;
}
.workOrderItemsDivider {
  border-top: solid 1px #e8e8e8;
  margin-bottom: .5rem;
}
.workOrderItems Input,TextArea {
  margin-bottom: .5rem;
}
.newItemButtonsDiv {
  text-align: center;
  margin: 0 .5rem .5rem .5rem;
}
.newItemButtonsDiv Button {
  margin-right: .5rem;
}
.newWorkOrderOptions {
  margin-bottom: .5rem;
}
.workOrderCheckboxDiv {
  text-align: center;
}
.workOrderItemDelete {
  color: red;
  cursor: pointer;
  padding: 0 .5rem 0 .5rem;
}
.workOrderItemDiv {
  margin-bottom: .5rem;
}
.workOrderItemDiv p {
  padding-left: 1.5rem;
  word-wrap: break-word;
}
.workOrderFooterDiv {
  text-align: center;
}
.workOrderFooterDiv Button {
  margin: 0 .5rem .5rem 0;
}
